### Question No. 1

In [4]:
def Poem():
    print("Twinkle, twinkle, little star,")
    print("\tHow I wonder what you are!")
    print("\t\tUp above the world so high,")
    print("\t\tLike a diamond in the sky.")
    print("Twinkle, twinkle, little star,")
    print("\tHow i wonder what you are")

In [5]:
Poem()

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How i wonder what you are

### Question No. 2

In [2]:
import sys
print(f"Python Version:  {sys.version}")

Python Version:  3.7.3 (default, Mar 27 2019, 17:13:21) [MSC v.1915 64 bit (AMD64)]

### Question No. 3

In [3]:
from datetime import datetime
Ctime = datetime.now()
#datetime.now() will return current date and time
print(Ctime)

2019-09-19 00:59:00.726235

### Question No.  4

In [8]:
import math
#using math.pi from math library to get value of pi
def Area():
    radius = int(input("Enter Radius of Circle: "))
    print(f"Area of Circle is {math.pi*(radius**2)}")

In [9]:
Area()

Enter Radius of Circle: 2
Area of Circle is 12.566370614359172

### Question No.  5

In [10]:
def ReverseNameOrder():
    
    #this function will show the Full name in reverse order
    FirstName = input("Enter your First Name ")
    LastName = input("Enter your Last Name ")
    print("\nReverse Name: {1} {0}".format(FirstName,LastName))

In [11]:
ReverseNameOrder()

Enter your First Name Rehan
Enter your Last Name Farooq
Reverse Name: Farooq Rehan

### Question No.  6

In [12]:
def Sequence():
    
    #this will accept numbers string from user and convert it into list and tuple
    SeqString = input("Enter Numbers Separate with commas (Don't use white spaces)\n")
    SeqList = SeqString.split(",")
    SeqTuple = tuple(SeqList)
    print("List: {}\nTuple: {}".format(SeqList,SeqTuple))

In [13]:
Sequence()

Enter Numbers Separate with commas (Don't use white spaces)
1,2,6.3,5,9.0021
List: ['1', '2', '6.3', '5', '9.0021']
Tuple: ('1', '2', '6.3', '5', '9.0021')

### Question No.  7

In [14]:
import socket
#to get current ip of the user
socket.gethostbyname(socket.gethostname())

'192.168.10.17'

### Question No.  8

In [15]:
def Empty_Variable(var):
    """the type() will return data type of given var in form
    of magic funtion __int__ when we call this magic function
    it re-initialize that var with empty value """
    
    print(type(var)())

In [16]:
Empty_Variable(20)

0

In [17]:
Empty_Variable({"y":10})

{}

### Question No.  9

In [ ]:
import math
math.__file__

### Question No.  10

In [18]:
numbers = [386,462,47,418,904,344,236,375,823,566,597,978,328,615,953,345,399,162,
          758,219,918,237,412,566,826,248,866,950,626,949,687,217,815,67,104,58,
          512,24,892,894,767,553,81,379,843,831,445,742,717,958,743,527]
for n in numbers:
    #print all even numbers
    if n%2==0:
        print (n)
    #stop printing if number in list is equal to 237
    elif n == 237:
            break

386
462
418
904
344
236
566
978
328
162
758
918